@import "tailwindcss";

:root {
  --background: #F6F6EE;
  --foreground: #171717;
  --primary: #2C3424;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-boheme: var(--font-boheme);
  --font-playfair: var(--font-playfair);
  --font-montserrat: var(--font-montserrat);
  --font-delafield: var(--font-mrs-saint-delafield);
  --font-imperial: var(--font-imperial-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F6EE;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-fade-up.appear {
  opacity: 1;
  transform: translateY(0);
}

/* fade in */
.animate-fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.animate-fade-in.appear {
  opacity: 1;
}

/* scale in */
.animate-scale {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.8s ease-out;
}

.animate-scale.appear {
  opacity: 1;
  transform: scale(1);
}
